@import "http://fonts.googleapis.com/css?family=Raleway";
form {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff
}

input[type=text] {
    width: 83%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway
}

input[type=password] {
    width: 82%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway
}

span {
    color: red;
    font-weight: 700
}